:host {
  display: block;
  color: red;
  border: 1px solid red;
}

:host(.active) {
  color: green;
  border-color: green;
}

:host-context(.active-context) {
  color: blue;
  border-color: blue;
  p {
    color: blue;
  }
}

:host-context(.disable) {
  color: gray;
  border-color: gray;
  p {
    color: gray;
  }
}

p {
  color: green;
}
